html {
  box-sizing: border-box;
  font-family: Merriweather, serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  max-width: 40px;
}

h1 {
  font-size: 2rem;
  color: #fff;
  padding: 0;
  margin: 0;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d05c2e;
  margin: 0;
  padding: 0;
}

body {
  padding: 0;
  margin: 0;
}

nav {
  background-color: #d05c2e;
  text-align: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

nav ul {
  display: inline-flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin: 0;
  padding: .4rem 0;
  width: 100%;
}

.btn {
  font-size: 1.125rem;
  text-decoration: none;
  color: #fff;
  padding: 0 .5em;
  margin: 0;
  text-align: center;
}

.btn-cereals {
  border: 1px solid #a63f38;
  justify-content: space-around;
}

.btn-cereals:hover {
  background-color: #a63f38;
}

.btn-home {
  outline: 1px solid #a63f38;
  justify-content: space-around;
}

.btn-home:hover {
  background-color: #a63f38;
}

.btn-legumes {
  outline: 1px solid #a63f38;
  justify-content: space-around;
}

.btn-legumes:hover {
  background-color: #a63f38;
}
